In [44]:
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import pandas as pd

In [45]:
!which chromedriver

/usr/local/bin/chromedriver

In [46]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [47]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [48]:
browser.visit(url)

In [49]:
html = browser.html
soup=BeautifulSoup(html,'html.parser')

In [50]:
content_title = soup.find('div',class_="content_title")
content_title

In [51]:
news_title = content_title.find('a').text
print(news_title)

NASA Social Media and Websites Win Webby Awards

In [57]:
news_p = soup.find('div',class_='article_teaser_body').text

In [35]:
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [36]:
browser.visit(jpl_url)

In [37]:
html = browser.html
soup=BeautifulSoup(html,'html.parser')

In [43]:
article = soup.find("article",class_="carousel_item")
footer = article.find("footer")
a = footer.find("a")
full_picture_url = "https://www.jpl.nasa.gov" + a["data-fancybox-href"]
print(full_picture_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18048_ip.jpg

In [13]:
twitter_url = 'https://twitter.com/marswxreport?lang=en'

In [14]:
browser.visit(twitter_url)

In [15]:
html=browser.html
soup=BeautifulSoup(html,'html.parser')

In [18]:
twitter_div = soup.find('div',class_='js-tweet-text-container')
twitter_div

<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 145 (2019-04-24) low -98.1ºC (-144.6ºF) high -19.3ºC (-2.8ºF)
winds from the SW at 4.4 m/s (9.8 mph) gusting to 11.6 m/s (26.1 mph)
pressure at 7.40 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/aNZiH2H1Pm">pic.twitter.com/aNZiH2H1Pm</a></p>
</div>

In [20]:
mars_weather=twitter_div.find('p').text
print(mars_weather)

InSight sol 145 (2019-04-24) low -98.1ºC (-144.6ºF) high -19.3ºC (-2.8ºF)
winds from the SW at 4.4 m/s (9.8 mph) gusting to 11.6 m/s (26.1 mph)
pressure at 7.40 hPapic.twitter.com/aNZiH2H1Pm

In [4]:
table_url = 'https://space-facts.com/mars/'

In [6]:
tables = pd.read_html(table_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
df = tables[0]
df.rename(columns={0:"Description", 1:"Value"},inplace=True)
df = df.set_index("Description")
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [13]:
html_table = df.to_html()
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [28]:
url_list=["https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced","https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced","https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced","https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced"]

In [33]:
dict_list = []
for url in url_list:
    browser.visit(url)
    html=browser.html
    soup=BeautifulSoup(html,'html.parser')
    link = soup.find("img",class_ = "wide-image")
    full_url="https://astrogeology.usgs.gov"+link["src"]
    name = soup.find("h2",class_="title").text
    name_url_dict = {"title":name,
                    "img_url":full_url}
    dict_list.append(name_url_dict)

In [34]:
print(dict_list)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]